<h1>Register</h1>
<h2>Have an account already?</h2>
<a routerLink="/login">Login</a>
<form *ngIf="registerForm" [formGroup]="registerForm" >
  <div class="form-group">
    <label for="mail">Email *Required</label>
    <input
      type="email"
      class="form-control"
      id="mail"
      formControlName="email"
      placeholder="Enter email"
    >
  </div>
  <div class="form-group">
    <label for="pass">Password *Required</label>
    <input
      type="password"
      class="form-control"
      id="pass"
      placeholder="Password"
      formControlName="password"
    >
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="onSubmit()"
    [disabled]="registerForm.pristine"
  >Register</button>
</form>
