<app-breadcrumbs></app-breadcrumbs>
<ng-container *ngIf="(courses | async | orderBy: 'creationDate' | filterBy: 'title' : searchQuery) as filtered">
  <app-toolbox
    (find)="findCourse($event)"
    (add)="addCourse()"
  ></app-toolbox>
    <app-course
      *ngFor="let course of filtered"
      [course]="course"
      [appDateWarning]="course.creationDate"
      (deleteCourse)="deleteCourse($event)"
   ></app-course>
   <ng-container *ngIf="!filtered.length">
    <app-empty-state></app-empty-state>
  </ng-container>
</ng-container>


