<div class="card container-fluid d-flex flex-row pt-2 pb-2 pb-4 justify-content-between">
  <div class="flex-grow-1">
    <div class="row">
      <div class="col-6 d-flex">
          <div class="pr-2"> {{ course.name | uppercase }} </div>
          <app-rating-star [isTopRated]="course.isTopRated"></app-rating-star>
      </div>
      <p class="col-2">{{ course.length | duration }}</p>
      <p class="col-2 text-right">{{ course.date | date:'MM.dd.yyyy' }}</p>
    </div>
    <div class="text-justify">
      {{ course.description }}
    </div>
  </div>
  <div class="btn-group-sm d-flex flex-column justify-content-center m-2">
    <button (click)="onEdit(course.id)" class="btn badge-warning m-1">Edit</button>
    <button (click)="onDeleteCourse(course.id)" class="btn btn-danger m-1">Delete</button>
  </div>
</div>
